
@font-face {
    font-family: 'Cursive';
    src: local("BlantickScript"),
        url('fonts/BlantickScript.ttf') format("truetype");
}

.header {
    text-align: center;
    color: #333;
    letter-spacing: 1px;
    padding: 50px 0px;
}

.header h1 {
    font-family: 'Cursive', sans-serif;
    font-size: 4em;
    font-weight: normal;
    line-height: 4.5rem;
}

.header h2 {
    font-size: 1.2rem;
    font-weight: lighter;
}